/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


/tests
/storage
/routes
/resources
/database
/config
/bootstrap
/artisan
/app
composer.lock
server.php
phpunit.xml
README.md
package.json
package-lock.json
composer.json
webpack.mix.js
Archive.zip