.card-header {
    background-color: #e5f1d7 !important;
    color: #4d954f !important;
}

.btn-main {
    background-color: #4d954f !important;
    color: #fff;
}

.text-main {
    color: #4d954f !important;
    text-decoration: none;
}
